# Dev environment
pip
autopep8
google-cloud-storage



# App
flask
gunicorn
unidecode
stripe


requests
firebase-admin

werkzeug


sphinx


--extra-index-url=https://test.pypi.org/simple/
bioiain >= 0.0.6.0