<html>

	<head>
        <link href='/static/style/files.css' as='style' rel='preload'>
        <link href='/static/scripts/files.js' as='script' rel='preload'>


		<link href='/static/style/files.css' rel='stylesheet'>
        <script defer type="text/javascript" src="/static/scripts/files.js"></script>
        <title>File Transfer: Await</title>
	</head>

    <script>
        PAGE_IDLE = true;
    </script>

	<body>



    <span><input type="password" id="password" placeholder="Password" /><button class="log-in" onclick="login()">Log In</button></span>

    <h1>Waiting for files to be sent...</h1>
    {%  if files %}
        <h2>Private Files</h2>

        {% for file in files %}
            <span class="public file"> - (private):  <b>{{file}}</b>
                <button class="file-button open" onclick="goToFile('private/{{ file }}', 'OPEN')">Open</button>
                <button class="file-button download" onclick="goToFile('private/{{ file }}', 'DOWNLOAD')">Download</button>
                <button class="file-button delete" onclick="goToFile('private/{{ file }}', 'DELETE', this)">Delete</button>
            </span>
        {% endfor %}
    {% endif %}
    <h2>Public Files</h2>
    {% for file in public_files %}
        <span class="public file"> - (public): <b>{{file}}</b>
            <button class="file-button open" onclick="goToFile('public/{{ file }}', 'OPEN')">Open</button>
            <button class="file-button download" onclick="goToFile('public/{{ file }}', 'DOWNLOAD')">Download</button>
            <button class="file-button delete" onclick="goToFile('public/{{ file }}', 'DELETE', this)">Delete</button>
        </span>
    {% endfor %}







	</body>


</html>