<html>

	<head>
        <link href='/static/style/files.css' as='style' rel='preload'>
        <link href='/static/scripts/files.js' as='script' rel='preload'>


		<link href='/static/style/files.css' rel='stylesheet'>
        <script defer type="text/javascript" src="/static/scripts/files.js"></script>
        <title>File Transfer: Await</title>
	</head>

    <script>
        PAGE_IDLE = true;
    </script>

	<body>



    <span><input type="password" id="password" placeholder="Password" /><button class="log-in" onclick="login()">Log In</button></span>

    <h1>Waiting for files to be sent...</h1>
    <h2>Private Files</h2>
    {% for file in files %}
    <span>File: <b>{{file}}</b>
        <button class="file-button open" onclick="goToFile('{{ file }}')">Open</button>
        <button class="file-button download" onclick="goToFile('{{ file }}', true)">Download</button>
    </span>
    {% endfor %}
    <h2>Public Files</h2>
    {% for file in public_files %}
        <span>File: <b>{{file}}</b>
            <button class="file-button open" onclick="goToPublicFile('{{ file }}')">Open</button>
            <button class="file-button download" onclick="goToPublicFile('{{ file }}', true)">Download</button>
        </span>
        {% endfor %}






	</body>


</html>