<html>

	<head>
        <link href='/static/style/files.css' as='style' rel='preload'>
        <link href='/static/scripts/files.js' as='script' rel='preload'>


		<link href='/static/style/files.css' rel='stylesheet'>
        <script defer type="text/javascript" src="/static/scripts/files.js"></script>
        <title>File Transfer: LogIn</title>
	</head>


	<body>





		<h1>Please sign in to access private files</h1>

			<span><input type="password" id="password" placeholder="Password" />
			<button class="log-in" onclick="login()">Log In</button></span>



	</body>


</html>