<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/pics/blue_world_favicon.png">

    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<h1>Menu</h1>

<ul>
    <li><a href="/portfolio/">Portfolio</a></li>
    <li><a href="/files">FTS</a></li>
    <li><a href="/linkedin">LinkedIn</a></li>
    <li><a href="/github">GitHub</a></li>
    <li><a href="/predict/">Predict</a></li>
    <li><a href="https://tensorboard.iainvisa.com">TensorBoard</a></li>
</ul>
</body>
</html>